<%# Head / Meta Data %>
<% title("Discovery Flight at Ideal Aviation") %>
<% meta_description("Schedule a discovery flight at Ideal Aviation.  Take control of an aircraft and enjoy the joy of flight.  See the St. Louis Gateway Arch from thousands of feet in the air.  See if becoming a pilot is right for you") %>
<% meta_keywords("Discovery flight near me, discovery flight st louis, right rudder marketing, Flight School in St. Louis, Airplane rental St. Louis, Helicopter training st. louis, rental checkout aircraft, how to become a pilot, become a pilot st. louis, KCPS, downtown airport pilot training") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<header class="w-full bg-home bg-aerial h-screen lg:h-screen bg-cover bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-start w-full">
      <h1 class="font-bold text-5xl text-center lg:text-start">Request a Discovery Flight</h1>
      <h2 class="font-bold text-4xl text-center lg:text-start py-10 lg:hidden">Depart from St. Louis Downtown Airport with Ideal Aviation</h2>
      <h2 class="font-bold text-4xl text-center lg:text-start py-10 lg:block hidden">Depart from St. Louis <br>Downtown Airport with Ideal Aviation</h2>
      <p class="italic pb-10">
        Please ensure that you have talked with an Ideal Aviation team member to confirm your flight.<br class="hidden lg:block">
        This page is just to request a discovery flight will not be placed in the flight schedule <br class="hidden lg:block">
        until you speak with an Ideal Aviation team member.
      </p>
      <div class="w-full flex flex-col items-center lg:hidden">
        <a href="#quiz-frame", class="btn-primary"
          onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
          FLY NOW
        </a>
      </div>
  </div>
</header>

<turbo-frame id="quiz-frame">
  <div class=" lg:absolute right-5 top-10 z-50 bg-white rounded-xl border pb-5 lg:overflow-y-auto lg:max-h-[92vh]">
    <%= render "form", discover_flight: @discover_flight %>
  </div>
</turbo-frame>

<div class="hidden lg:block px-2">
  <%= render "shared/bottom_footer"%>
</div>

<div class="lg:hidden w-full bg-ideal-blue-darker pt-16 pb-5 pl-5">
  <%= render "shared/bottom_footer"%>
</div>
