<%= turbo_frame_tag "frame4", class: "w-full" do %>
  <div class="mb-10">
    Thank you, <%= notice %>, for downloading our booklet!  You will receive an email with a download link shortly.
  </div>
  <%# GOOGLE TAG ONLY SHOW DURING PRODUCTION ENVIRONMENT%>
  <% if Rails.env.production? %>
    <!--Call Rail ### DISABLE FOR NOW ###-->
    <!--<script type="text/javascript" src="//cdn.callrail.com/companies/272286455/b900699f66a718ff6366/12/swap.js"></script>-->
    <!-- Google Analytics // Google tag (gtag.js) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJHVGV48"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
      // Consolidated Google Analytics and Google Tag Manager Scripts
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);

        // Google Analytics Script
        w.dataLayer = w.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3SVR01EH4G');
      })(window,document,'script','dataLayer','GTM-PJHVGV48');
    </script>
  <%end%>
<% end %>

