
<section class="bg-slate-100">
    <div class="flex flex-col lg:flex-row lg:items-center pt-10 lg:py-10">
      <!--Text Section-->
      <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
        <p class="px-5 py-7 lg:px-32 text-center p-text">Still looking for more information on pilot training?</p>
        <h2 class="px-2 text-3xl text-center font-bold">Get Your <span class="text-ideal-blue">FREE</span> Pilot Training Guide Book!</h2>
        <p class="px-5 py-7 lg:px-32 text-center p-text">We've preapred this free booklet which explains everything you need to know for your pilot certificate.</p>
        <%= button_to "Download the free book!", "#", class: "btn-primary uppercase"%>
      </div>
      <!--pic section-->
      <div class="lg:w-1/2">
        <div class="grid place-items-center">
          <%= image_tag "book-mockup.webp", alt: "Picture of our free how to be a pilot training guide"%>
        </div>
      </div>
    </div>
  </section>