<nav class="flex flex-row justify-between bg-ideal-blue font-semibold text-slate-50 text-2xl">
  <div class="">
  </div>
  <div class="">
    <%= link_to "(618)-337-5845", "tel:1-618-337-5845" %>
  </div>
</nav>