<section class="bg-gradient-to-t lg:bg-gradient-to-l from-ideal-blue to-ideal-blue-dark text-white">
  <div class="flex flex-col justify-center items-center pt-10 py-10">
    <!--Text Section-->
    <div class="flex flex-col justify-center items-center pb-5">
      <p class="text-xl lg:text-2xl text-center">Why Choose Ideal Aviation?</p>
      <h2 class="font-bold text-2xl lg:text-4xl pt-3 text-center">Hear from our Students!</h2>
    </div>
    <!--video section-->
    <div class="max-w-xl w-full mx-auto">
      <div class="grid place-items-center">
        <div style="height: 0px; overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;">
          <iframe
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
            src="https://tube.rvere.com/embed?v=ou45NYu9iDQ"
            title="YouTube video player"
            frameBorder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowFullScreen>
          </iframe>
        </div>
      </div>
    </div>

    <%= link_to "FLY NOW", discovery_flight_path, data: { turbo: false }, class: "flex mx-auto block mt-5 justify-self-center flex-row items-center rounded-xl px-5 py-4 mx-2 bg-red-700 text-xl font-semibold duration-300 hover:scale-105 hover:bg-red-600 w-fit" %>
  </div>
</section>
