<section class="bg-ideal-blue text-white">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium"
  >
    <span class="font-bold">
      <strong
        >Please Note:</strong
      ></span
    >
    The maximum weight limit to ride in our helicopters is 220lbs.
  </div>
</section>
