<%= render "shared/header"%>
<section class="bg-ifr-flight bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
<h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Advanced Flight Training</h1>
<h2 class="lg:text-3xl text-xl italic font-semibold pb-10 text-center">Complete your instrument, commercial, multi-engine, and CFII at Ideal Aviation</h2>
<%= link_to "GET STARTED", contact_path, class: "btn-primary"%>
</section>
<%= render "shared/footer"%>