<%= render "shared/header"%>
<div class="z-30">
<section class="w-full bg-home bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-bold text-5xl text-center">Pilot Training in St. Louis</h1>
      <h2 class="font-bold text-4xl text-center py-10">The Place for Pilots</h2>
      <%= link_to "STAY FLYING TODAY", root_path, class: "font-semibold bg-ideal-blue hover:bg-ideal-blue-light hover:scale-105 text-xl lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2" %>
  </div>
</section>
</div>
