<%= render "shared/header"%>

<section class="bg-gradient-to-t lg:bg-gradient-to-l from-ideal-blue to-ideal-blue-dark text-white">
    <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
      <!--Text Section-->
      <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
        <p class="text-xl lg:text-3xl text-center">How to Become a Pilot at Ideal Aviation</p>
        <h2 class="font-bold text-3xl lg:text-5xl pt-5 text-center"><span class="text-slate-300">Private Pilot Certificate</span></h2>
        <h2 class="font-bold text-3xl lg:text-5xl text-center">In St. Louis</h2>
        <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
        Ideal Aviation believes that anyone with a passion for flying can become a pilot with the right training, dedication, and support. Watch our video by Bill Macon that outlines the three main tests you need to pass to obtain your pilot's license: the medical exam, written test, and flight test (check ride).
        </p>
        <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
        We believe that the key to your success lies in our commitment to providing the highest quality flight training available, with a focus on safety, professionalism, and individual attention.
        </p>
      </div>
      <!--video section-->
      <div class="lg:w-1/2">
        <div class="grid place-items-center lg:mx-10">
          <div style="height: 0px; overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;">
            <iframe
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
                src="https://tube.rvere.com/embed?v=Gsyvxrt7hi4"
                title="YouTube video player"
                frameBorder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


<%= render "shared/footer"%>


<%# Sticky div %>
</div>