<header class="w-full bg-home bg-pilot-thumbs h-screen lg:h-screen bg-cover bg-center flex flex-col justify-between items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-start w-full">
      <h1 class="font-bold text-5xl text-center lg:text-start">Are you ready to become a pilot?</h1>
      <h2 class="font-bold text-4xl text-center lg:text-start py-10 ">Take our quick quiz to find out</h2>
  </div>

  <!--desktop-->
  <div class="hidden lg:block w-full px-4 bg-white opacity-50">
    <%= render "shared/bottom_footer"%>
  </div>

  <div class="hidden lg:block lg:fixed  right-5 top-10 z-50 bg-white rounded-xl border pb-5 overflow-y-auto max-h-[88vh]">
  <%= render "form", quiz_result: @quiz_result %>
  </div>
</header>


<!--Mobile-->
<div class="lg:hidden right-5 top-10 z-50 bg-white rounded-xl border pb-5 overflow-y-auto">
  <%= render "form", quiz_result: @quiz_result %>
</div>

<div class="lg:hidden w-full bg-white mt-16">
  <%= render "shared/bottom_footer"%>
</div>