<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= "#{params[:title]} Form" || "Advanced Training Form" %></h1>
  <%= render "form", advance_training: @advance_training %>
  <% certificate_sought_path = "#{params[:certificate_sought]}_path" %>
  <%= link_to 'Cancel', send(certificate_sought_path), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
